.signUpBackground {
    min-height: 100vh;
    width: 100%;
    background-image: url(../../assets/images/tan-bg-texture.jpg);
}

.footerBackground {
    background: url(../../assets/images/bookrow.jpg) repeat-x;
    width: 100%;
    height: 55px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

.footerText {
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.error {
    color: red;
    font-family: "Lato Bold";
}

.notMember {
    font-size: 12px;
    margin-right: 10px;
}

.textField {
    width: 300px;
}

.terms {
    font-size: 12px;
    text-align: center;
}