.stackHeader{
    background-color: #f4f1ea;
    padding: 0;
}

.grLight {
    color: #aaa !important;
}

.grGreen {
    color: #00635D !important;
}

.grBrown {
    color: #382110 !important;
}

.grGrey {
    color: #767676 !important;
}

.grBlack {
    color: #333 !important;
}

.latoR {
    font-family: "Lato Regular" !important;
}

.latoB {
    font-family: "Lato Bold" !important;
}

.latoI {
    font-family: "Lato Italic" !important;
}

.meriR {
    font-family: "Merriweather Regular" !important;
}

.meriB {
    font-family: "Merriweather Bold" !important;
}

.meriI {
    font-family: "Merriweather Italic" !important;
}
