.stackHeader{
    background-color: #f4f1ea;
    padding: 0;
}

.grLight {
    color: #aaa !important;
}

.grGreen {
    color: #00635D !important;
}

.grBrown {
    color: #382110 !important;
}

.grGrey {
    color: #767676;
}

.grBlack {
    color: #333 !important;
}

.latoR {
    font-family: "Lato Regular" !important;
}

.latoB {
    font-family: "Lato Bold" !important;
}

.latoI {
    font-family: "Lato Italic" !important;
}

.meriR {
    font-family: "Merriweather Regular" !important;
}

.meriB {
    font-family: "Merriweather Bold" !important;
}

.meriI {
    font-family: "Merriweather Italic" !important;
}

.f-1{
    font-size: 1em;
}

.f-09{
    font-size: 0.9em;
}

.f-08{
    font-size: 0.8em;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}
