.cover {
    width: 150px;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.descriptionAuthor {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main {
    width: 70%;
}

.aside {
    width: 30%;
}

hr {
    margin: 5px 0 !important;
}

h1 {
    margin: 0 0 2px 0;
}

.authorName{
    margin-bottom: 10px;
}