.description {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.authorName {
    margin: 5px 0;
}

.descriptionContainer {
    margin: 5px 0;
}