.container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bottom, .top {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}

.bottom {
    gap: 20px;
}

.title {
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}